.Toolbar
{
    box-sizing: border-box;
    padding : 1rem;
    display : flex; 
    justify-content: space-between;
    align-items: center;
    height : 60px; 
    width : 100%;
    position : fixed; 
    top : 0; 
    left : 0; 
    border : 1px solid black;
    margin: 0;
    z-index : 90;
    background-color: white;
}

